<form action='/map' method="POST">
  <label for="lat">Lat:</label><input type="text" name="lat"><br>
  <label for="long">Long:</label><input type="text"n name="long"><br>
  <label for="text_type">Text:</label><input type="text" name="text"><br>
  <input type='submit' value = "Get Map!">
</form>
